/* Global styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #111;
    color: #fff;
    overflow-x: hidden;
  }

  body {
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
  }
  
  body::-webkit-scrollbar {
    width: 8px;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }
  
  body::-webkit-scrollbar-track {
    background: transparent;
  }

  #initialOverlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17,17,17,0.9);
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease;
    pointer-events: none;
  }
  
  #initialOverlay.hidden {
    opacity: 0;
  }

  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    width: 100%;
    height: 55px;
  }
  
  header {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    background: #111;
    height: 25px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid white;
  }
  
  .logo-container {
    flex: 1;
    text-align: center;
    position: relative;
    bottom: -10px;
    pointer-events: none;
  }
  
  .site-logo {
    height: 70px;
    width: auto;
    pointer-events: none;
  }

  .person-icon {
    position: absolute;
    right: 0.5rem;
    cursor: pointer;
    font-size: 18px;
    height: 30px;
    width: 30px;
    text-align: center;
    align-content: center;
  }

  .header-actions {
    position: absolute;
    right: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .intro-text {
    text-align: center;
    margin: 0;
    padding: 0 0.5rem;
    font-size: 16px;
    color: #fff;
  }
  
  .intro-text p {
    font-size: 16px;
    margin: 10px 0;
    color: #fff;
  }
  
  .content-wrapper {
    max-width: 1200px;
    margin: 80px auto 0;
    padding: 0 0 4rem;
  }
  
  .categories {
    display: flex;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .categories::-webkit-scrollbar {
    display: none;
  }
  
  .categories button {
    background-color: #5ce1e6;
    color: #11151c;
    font-size: 14px;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    white-space: nowrap;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    min-width: calc(97.5px - 0.46833333333rem);
    min-height: 80px;
    font-weight: 400;
  }

  .categories button:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
  
  .categories button.active {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }

  main {
    padding: 0.5rem 1rem 1rem;
  }

  .search-bar-container {
    position: relative;
    margin: 0rem auto 1rem;
  }
  
  #searchInput {
    width: 100%;
    padding: 0.5rem 3rem 0.5rem 0.75rem;
    border-radius: 4px;
    border: 1px solid #555;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    outline: none;
  }
  
  #searchInput::placeholder {
    color: #888;
  }

  #searchInput::-webkit-search-cancel-button {
    display: none;
  }

  #searchInput:focus {
    border: 1px solid #ffffff;
  }
  
  .search-icon {
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 55%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #fff;
    background: transparent;
    border: none;
    appearance: none;
    -webkit-appearance: none;
  }

  div#noResultsMessage {
    text-align: center;
    font-size: 22px;
    padding-top: 10px;
    color: #ccc;
  }

  .spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
  }
  
  .hidden {
    display: none;
  } 
  
  .games-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    display: grid;
  }

  @media (min-width: 250px) and (max-width: 349px) {
    .games-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

  @media (min-width: 350px) and (max-width: 929px) {
    .games-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 930px) {
    .games-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

/* Adjust the card layout to support the ratio fix */
.game-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto; /* Allow natural height based on content */
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
  }
  
  .game-card::before {
    content: '';
    display: block;
    padding-top: calc(100% * 11 / 16);
  }
  
  .game-card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }
  
  .game-card,
  .game-card img {
    box-sizing: border-box;
  }

  .game-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: block;
  }
  
  .game-card p {
    display: none;
  }
  
  .games-count-container {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
  }  

div#gamesCount {
text-align: center;
}

  .load-more-container {
  align-items: center;
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 40px;
}

  #loadMoreBtn {
  background: #eb2f06;
  border: none;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  padding: 8px 25px;
  border-radius: 5px;
  font-size: large;
  font-weight: 600;
  max-width: 100%;
  width: 145px;
  height: auto;
  min-height: 50px;
  cursor: pointer;
  }

  #loadMoreBtn:hover {
  transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 15px 0px rgba(235, 47, 6, 0.5) !important;
  }

  .btn-spinner {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #333;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } 

  #stickyFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    background-color: #111;
    text-align: center;
    font-size: 10px;
    padding: 5px 0;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #stickyFooter p {
    margin: 5px 0;
  }
  
  #stickyFooter a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }  

  .footer-toggle {
    color: #ccc !important;
    cursor: pointer;
    text-decoration: none;
  }

  .modal.hidden {
    display: none;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 0.5rem;
  }
  
  .modal-content input {
    padding: 0.5rem;
    width: 80%;
    margin-top: 1rem;
  }
  
  .modal-content button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #f90;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .modal-body h2 {
    margin-block-start: 0;
    margin-block-end: 1rem;
}

.email-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #111;
    background: #fff;
    padding: 40px 30px 30px;
    border-radius: 5px;
    position: relative;
    text-align: center;
    max-width: 300px;
    width: 90%;
    box-shadow: 0px 0px 10px #fff;
  }

input#userEmail {
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    padding: 7.5px;
    margin-bottom: 1rem;
    border-radius: 3px;
    border: 1px solid rgb(118, 118, 118);
    outline: none;
  }

#emailSubmit {
    appearance: none;
    -webkit-appearance: none;
    padding: 0.75rem 1rem;
    background: #eb2f06;
    color: #ffffff;
    font-size: medium;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    line-height: 1;
    transition: all 0.3s ease-in-out;
  }

  #emailSubmit:hover {
    transition: all 0.3s ease-in-out;
      box-shadow: 0px 0px 15px 0px rgba(235, 47, 6, 0.5) !important;
    }

  #emailSubmit i {
    display: inline-flex;
    align-items: center;
    line-height: 1;
  }

  #emailSubmit i::before {
    transform: translateY(0);
    display: inline-block;
  }

#registerSubmit {
    appearance: none;
    -webkit-appearance: none;
    padding: 0.75rem 1rem;
    background: #eb2f06;
    color: #ffffff;
    font-size: medium;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    line-height: 1;
    transition: all 0.3s ease-in-out;
  }

  #registerSubmit:hover {
    transition: all 0.3s ease-in-out;
      box-shadow: 0px 0px 15px 0px rgba(235, 47, 6, 0.5) !important;
    }

  #registerSubmit i {
    display: inline-flex;
    align-items: center;
    line-height: 1;
  }

  #registerSubmit i::before {
    transform: translateY(0);
    display: inline-block;
  }

  #emailModal .choices__inner {
    min-height: auto;
    box-sizing: border-box;
  }

#verificationDone {
    appearance: none;
    -webkit-appearance: none;
    padding: 0.75rem 1rem;
    background: #eb2f06;
    color: #ffffff;
    font-size: medium;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    line-height: 1;
    transition: all 0.3s ease-in-out;
  }

  #verificationDone:hover {
    transition: all 0.3s ease-in-out;
      box-shadow: 0px 0px 15px 0px rgba(235, 47, 6, 0.5) !important;
    }

    .choices__list--dropdown {
        max-height: none;
        overflow-y: auto;
        transform-origin: top center;
        transition: transform 0.3s ease;
        scrollbar-width: thin;
        scrollbar-color: #ccc transparent;
        -webkit-overflow-scrolling: touch;
      }

      .choices__list--dropdown .choices__list {
        max-height: none !important;
        overflow-y: auto !important;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: thin;
        scrollbar-color: #ccc transparent;
      }

  .choices__list--dropdown[aria-expanded="true"] {
    transform: scaleY(1);
  }

  .choices__list--dropdown[aria-expanded="false"] {
    transform: scaleY(0);
  }

  .choices__list--dropdown, [aria-expanded] {
    box-sizing: border-box;
    position: relative !important;
}

.choices__list--dropdown {
  border: none !important;
}

.choices__list--dropdown[aria-expanded="true"] {
  border-top: 1px solid #ddd !important;
}
  
  .choices__list--dropdown .choices__item--choice {
    padding: 1rem 1.25rem;
  }
  .choices__list--dropdown .choices__item--choice:not(.choices__item--disabled):nth-of-type(odd) {
    background-color: #f0f0f0;
  }
  .choices__list--dropdown .choices__item--choice:not(.choices__item--disabled):nth-of-type(even) {
    background-color: #ffffff;
  }
  
  .choices__list--dropdown .choices__placeholder {
    display: none !important;
  }
  
  .choices.has-value .choices__inner .choices__placeholder {
    display: none !important;
  }
  
  .choices[data-type="select-one"] {
    margin-bottom: 1rem;
    border-radius: 3px;
    border: 1px solid rgb(118, 118, 118);
  }
  
  .choices__placeholder {
    opacity: .6 !important;
  }

  .choices__list--dropdown[aria-expanded="true"]::after {
    content: '';
    display: block;
    height: 40px;
  }

.choices__inner {
    padding: 0.5rem;
    border: none !important;
    border-radius: 4px;
    background: #fff !important;
    font-size: 16px !important;
    vertical-align: middle !important;
}

.choices__input {
    font-size: 14px !important;
}

.choices__list--single {
    padding: 0 !important;
}

  .flag-icon {
    width: 20px;
    height: auto;
    margin-right: 0.5rem;
    vertical-align: middle;
    border-radius: 2px;
    margin-top: -2.5px;
  }

  .captcha-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px auto;
    width: fit-content;
    position: relative;
}

#captchaCanvas {
    border: 1px solid #ccc;
    background: #f0f0f0;
}

#refreshCaptcha {
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #007bff;
    border: none;
    cursor: pointer;
    background: none;
}

input#captchaInput {
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    padding: 7.5px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 3px;
    border: 1px solid rgb(118, 118, 118);
    outline: none;
}

.modal-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message {
    font-size: 12px;
    color: #ff0000;
    margin-top: 1rem;
    text-align: center;
    min-height: 14px;
    display: none;
    width: 100%;
}

.error-message.show {
    display: block;
}

  .profile-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 0.5rem;
  }

  #profileModal.hidden {
    display: none;
  }

  .profile-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #111;
    background: #fff;
    padding: 40px 30px 30px;
    border-radius: 5px;
    position: relative;
    text-align: center;
    max-width: 300px;
    width: 90%;
    box-shadow: 0px 0px 10px #fff;
  }
  
  .profile-modal-content h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  p#loggedInEmail {
    margin-block-start: 0.5rem;
}
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 22px;
  }

  #logoutBtn {
    appearance: none;
    -webkit-appearance: none;
    background: #ccc;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    font-size: medium;
    font-weight: 600;
    color: #111;
    line-height: 1;
    transition: all 0.3s ease-in-out;
    margin: 0 auto;
  }

  #logoutBtn:hover {
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 15px 0px #bebebe !important;
}
  
  #gameOverlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #gameOverlay.hidden {
    display: none !important;
  }
  
  #yourGameContainer {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 2rem;
    height: 2rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
    background: #fff;
    border: none;
    color: #111;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10000;
    border-radius: 50%;
    opacity: 0.8;
  
    appearance: none;
    -webkit-appearance: none;
  }

  iframe {
    border: none;
  }
  
  .categories::-webkit-scrollbar {
    height: 6px;
  }
  .categories::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 3px;
  }

  .privacy-page {
    text-align: center;
  }

  .privacy-page h1 {
    margin-block-start: 0em;
  }

  .privacy-page #userProfile {
    display: none !important;
  } 

a.btn.btn-red {
    padding: 0.35rem 0.65rem;
    background: transparent;
    color: #fff;
    font-size: small;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
}

a {
    color: #ccc;
}

ul {
    list-style-type: none;
}

#backToTop {
    position: fixed;
    bottom: 4.5rem;
    right: 1rem;
    display: grid;
    place-items: center;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size: 1.5rem;
    background: rgba(204,204,204,0.975);
    color: #111;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.3s ease;
    z-index: 100;
  }
  
  #backToTop.show {
    opacity: 1;
    pointer-events: auto;
  }
